body {
  background-color: orange;
}

.contenedor-form {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

h1 {
  color: orange;
  text-align: center;
}

.btn {
  background-color: orange;
}

@media (max-width: 600px) {
  h1 {
    font-size: 300%;
  }

  .input-field {
    margin: 0px;
  }
}

.error {
  display: flex;
  align-self: center;
}

#separador {
  height: 20px;
}

.input-field input[type=text]:focus+label,
.input-field textarea:focus+label {
  color: orange !important;
}

.input-field input[type=text]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}