div.datepicker-date-display, div.timepicker-digital-display{
    background-color: orange !important;
}
div.confirmation-btns > button{
    display: none !important;
}
.timepicker-canvas line {
    stroke: orange;
}
.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: orange;
}
.datepicker-day-button:hover {
  background-color: orange;
  color: white;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: orange;
}
.is-today>button{
  color: red;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: orange;
}
.switch label input[type=checkbox]:checked+.lever:before, .switch label input[type=checkbox]:checked+.lever:after {
    background-color: orange;
    left: 18px;
}
.btn{
  background-color: orange;
  color: white !important;
  font-weight: bold;
}
#map{
  height: 400px;
  width: 100%;
}

.datepicker-date-display>span, .timepicker-display-column>span{
  color: white !important;
}
body{
  background-color: orange;
}
.container{
  background-color:  white;
  border-radius: 20px;
  padding: 10px;
}

g{
  fill: orange;
}