#push {
  position: fixed;
  right: 0;
  bottom: 10px;
  left: 90%;
}

@media all and (min-width: 515px) {
  #push {
    right: 50%;
    margin-right: -250px;
  }
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: orange;
}

body {
  background-color: orange;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

#planes {
  background-color: white;
}

.btn {
  background-color: orange !important;
}

.btn>span {
  color: white;
  font-weight: bold;
}