* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: orange;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;
}

.contenedor-form {
  background: white;
  max-width: 500px;
  width: 100%;
  margin: 48px auto;
  border-radius: 20px;
  color: black;
  position: relative;
  /*padding: 40px;*/

}

.contenedor-form .toggle {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-top: 2px solid #ff851b;
  border-bottom: 2px solid #ff851b;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedor-form .toggle:hover {
  border-top: 2px solid #0075d9;
  border-bottom: 2px solid #0075d9;
}

.contenedor-form h2 {
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 0 0 20px 0;
  background: white;
  color: black;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #ff851b;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  transition: all .5s ease;
}

.contenedor-form .formulario {
  display: none;
  padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
  display: block;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.presentacion {
  background-color: orange;
  color: white;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: orange;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-color: orange;
}

/*datepicker*/
.datepicker-date-display {
  display: none;
}

.datepicker-day-button {
  color: orange;
}

.datepicker-day-button:hover {
  background-color: orange;
  color: white;
}

.datepicker-modal {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 400px;
  border-radius: 10px;
}

.dropdown-content {
  height: 200px;
}

.datepicker-footer {
  width: 0;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  display: none;
}

.is-today>button {
  color: red;
}

td.is-disabled>button.datepicker-day-button {
  color: grey;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: orange;
}

.selects-container {
  width: 1000px;
}

.select-dropdown.dropdown-trigger {
  border-color: inherit;
}

.option {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.selected,
.change,
.separador {
  text-align: center;
}

.selected,
.change {
  width: 48%;
}

.selected h2,
.change h2,
.separador h2 {
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transform: translateX(0%) translateY(50%);
  cursor: pointer;
}

.separador {
  width: 4%;
  margin: 0 0 0 0;
}

.selected h2 {
  color: orange;
  font-weight: bold;
}

.error {
  display: flex;
  align-self: center;
}

.scroll {
  position: relative;
  bottom: 10px !important;
}

input:focus {
  border-bottom: 4px solid #0075D9 !important;
}