#logo,
#imgNav {
    height: 60px;
    margin: 0 auto;
    margin-top: 5px;
}

nav {
    width: 98%;
    height: 70px;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
}

#relleno {
    height: 2px !important;
}

#imgNav {
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}

#cuentasidenav {
    width: 120px !important;
}

i {
    color: orange !important;
}

#userName_nav {
    font-weight: 1000 bold;
    margin-bottom: 0%;
}

#name_nav {
    margin-top: 0%
}

#usuarioNav {
    margin: 0%;
}

span {
    color: orange;
}

#usuarioNav {
    color: white;
    font-weight: bold !important;
    font-size: xx-large !important;
}

.input-field input[type=text]:focus+label,
.input-field textarea:focus+label {
    color: orange !important;
}

.input-field input[type=text]:focus,
.input-field textarea:focus {
    border-bottom: 1px solid orange !important;
    box-shadow: 0 1px 0 0 orange !important;
}