.contenedor {
  width: 90%;
  margin: 0 auto;
  background-color: white !important;
  border-radius: 10px;
}

body {
  background-color: orange;
}

.btn {
  background-color: orange !important;
}

.btn>span {
  color: white;
  font-weight: bold;
}