h1 {
  color: orange;
}

div.btn>span {
  color: white !important;
}

#borrar,
#confirm {
  background-color: orange !important;
}

.modal-content>p {
  color: red;
}

.modal-content>h4 {
  color: red;
  font-weight: bold;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: orange;
}

body {
  background-color: orange;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.btn {
  background-color: orange;
  color: white !important;
  font-weight: bold;
}