#map {
  height: 400px;
}

div.participante {
  padding: 0%;
  border-radius: 20px;
  font-weight: bold;
}

div.participante>div {
  background-color: orange;
  border-radius: 20px;
}

body {
  background-color: orange;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.btn {
  background-color: orange !important;
}

.btn>span {
  color: white;
  font-weight: bold;
}

g {
  fill: orange;
}